body {
  font-family: sans-serif;
  background-color: #f0f0f071;
  text-align: center;
  padding-top: 50px;
}

.game-container {
  display: inline-block;
  background: rgba(255, 255, 255, 0.066);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin: 20px 0;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f63bc69;
  cursor: pointer;
  user-select: none;
}

.cell:hover {
  background: #1689af0f;
}

#status {
  font-size: 18px;
  margin: 10px 0;
}
